// COLORES
$color-main: #833ab4;
$color-secondary:#fd1d1d;
$color-tertiary:#fcb045;
$color-extra:white;

// FUENTES
$font-main: 'Josefin Sans', sans-serif;;

// BREAKING POINTS
$width-mobile: 800px;
$width-hd: 1920px;